@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>Welcome to Gaurav's Repository of No Work</div>
</div>

<div class="row">
    <h2>We Shall Overcome</h2>
    
    <li>
        <ul><a href="#">BattleShip</a></ul>
    </li>
</div>